<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_StoreCredit
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_StoreCredit::config" title="Amasty Store Credit" sortOrder="192003" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Customer::customer">
                    <resource id="Amasty_StoreCredit::customer" sortOrder="192003" title="Amasty Store Credit Customer Settings" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
