<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Dakha_StatusMassAction::dakha_statusmassaction" title="dakha statusmassaction" sortOrder="10">
					<resource id="Dakha_StatusMassAction::index_index" title="index index" sortOrder="10"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
