<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="kpopia" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Kpopia Welcome Email</label>
            <tab>customer</tab>
            <resource>Evince_WelcomeEmail::config_kpopia_welcome_email</resource>
            <group id="welcome" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Custom Email Setting</label>
                <field id="email_template" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label comment" type="select">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                <comment/>
                </field>
            </group>
        </section>
    </system>
</config>