<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mfadminview>
            <general>
                <enabled>0</enabled>
                <mfmodule>AdminView</mfmodule>
            </general>
            <color_schema>
                <enabled>0</enabled>
                <theme>default</theme>
            </color_schema>
            <footer>
                <copyright>1</copyright>
                <version>1</version>
                <buttons>1</buttons>
            </footer>
        </mfadminview>
    </default>
</config>
