<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Tagging service responsible for keeping track of tags encountered during page rendering -->
	<preference for="NitroPack\NitroPack\Api\TaggingServiceInterface" type="NitroPack\NitroPack\Api\TaggingService" />
	<type name="NitroPack\NitroPack\Api\TaggingService" shared="true">
		<arguments>
			<argument name="nitro" xsi:type="object" shared="true">NitroPack\NitroPack\Api\NitroServiceInterface</argument>
			<argument name="doNotPush" xsi:type="boolean">true</argument>
		</arguments>
	</type>

	<preference for="NitroPack\NitroPack\Api\CacheWarmupInterface" type="NitroPack\NitroPack\Api\CacheWarmup" />
	<type name="NitroPack\NitroPack\Api\TaggingService" shared="true">
		<arguments>
			<argument name="nitro" xsi:type="object" shared="true">NitroPack\NitroPack\Api\NitroServiceInterface</argument>
		</arguments>
	</type>
</config>