<!--@subject {{trans "Maintenance Update"}} @-->
<!--@vars {
} @-->

{{template config_path="design/email/header_template"}}
<p>Hello,</p>
<p>&nbsp;</p>
<p><strong>Our team is done with maintenance and website is up now.</strong></p>
<p>&nbsp;</p>
<p>If you have any feedback please reply to this email directly. We read every email we get and appreciate your help in improving our customer experience.</p>
<p>&nbsp;</p>
<p>Thank you for your patience.</p>
{{template config_path="design/email/footer_template"}}