<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <myfatoorah_shippingAramex>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>MyFatoorah\ShippingAramex\Model\Carrier\ShippingAramex</model>
                <title>MyFatoorah</title>
                <name>Aramex</name>
                <specificerrmsg>MyFatoorah Aramex Shipping provider API ver2 is not available. To use this shipping method, please contact us.</specificerrmsg>
                <is_testing>1</is_testing>
            </myfatoorah_shippingAramex>
        </carriers>
    </default>
</config>

