<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <saeeShipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Saee\ShipmentMethod\Model\Carrier\Shipping</model>
                <name>Saee Shipping</name>
                <price>10.00</price>
                <url>https://www.k-w-h.com</url>
                <title>Saee Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </saeeShipping>
        </carriers>
    </default>
</config>
