<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_submit_all_after">
		<observer name="dakha_orderinvoicegenerate_observer_backend_sales_orderplaceafter_sales_order_place_after" instance="Dakha\OrderInvoiceGenerate\Observer\Backend\Sales\OrderPlaceAfter"/>
	</event>
	<event name="sales_order_creditmemo_save_after">
		<observer name="tetser_tesr_observer_backend_sales_ordercreditmemosaveafter_sales_order_creditmemo_save_after" instance="Dakha\OrderInvoiceGenerate\Observer\Backend\Sales\OrderCreditmemoSaveAfter"/>
	</event>
</config>
