<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Dakha\UserRolePermission\Api\UserrolesRepositoryInterface" type="Dakha\UserRolePermission\Model\UserrolesRepository"/>
	<preference for="Dakha\UserRolePermission\Api\Data\UserrolesInterface" type="Dakha\UserRolePermission\Model\Userroles"/>
	<preference for="Dakha\UserRolePermission\Api\Data\UserrolesSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Dakha\UserRolePermission\Model\ResourceModel\Userroles\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">dakha_userrolepermission_userroles</argument>
			<argument name="resourceModel" xsi:type="string">Dakha\UserRolePermission\Model\ResourceModel\Userroles\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="dakha_userrolepermission_userroles_listing_data_source" xsi:type="string">Dakha\UserRolePermission\Model\ResourceModel\Userroles\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
