<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <myfatoorah_shipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>MyFatoorah\Shipping\Model\Carrier\Shipping</model>
                <title>MyFatoorah</title>
                <name>Shipping</name>
                <specificerrmsg>MyFatoorah Shipping Methods for API ver2</specificerrmsg>
                <is_testing>1</is_testing>
            </myfatoorah_shipping>
        </carriers>
    </default>
</config>
