<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="sales_order_place_after">
        <observer name="sales_order_place_after" instance="Fetchr\Shipping\Observer\Salesorderplaceafterobserver" />
    </event>

    <event name="sales_order_invoice_pay">
        <observer name="sales_order_invoice_pay" instance="Fetchr\Shipping\Observer\Salesorderinvoicepayobserver" />
    </event>

    <event name="sales_order_shipment_save_before">
        <observer name="sales_order_shipment_save_before" instance="Fetchr\Shipping\Observer\Salesordershipmentsavebeforeobserver" />
    </event>-->

</config>